<% m = 'dogovora' %>
<%= render :partial => "layouts/header", :locals => {:m => m} %>

<section class="dogovora_layout">

    <header>

        <div class="caption">
          <h3>Договора аренды</h3>
          <section class="xls">
            <img src="assets/xls.png" alt="xls" width="14px" height="14px">
            <a href="http://localhost:3002/arendators#"><span>договора аренды</span></a>
            <span class="xls_info">(xls, 635КБ)</span>
          </section>
        </div>

        <div class="search">
            <input id="search" placeholder="Поиск договоров аренды по номеру">
            <div class="info">
                <div class="example">
                  <span class="label_grey">Например:&nbsp;</span><a href="http://localhost:3002/arendators#"><span class="psevdo_link_grey" style="font-size:0.7em;">040633700065</span></a>
                </div>
                <div>
                  <a href="http://localhost:3002/arendators#"><span class="psevdo_link">история поиска</span></a>
                </div>
            </div>
        </div>

        <div class="new_dogovor">
          <div>
            <label>Добавить:</label>
          </div>
          <div class="box_v">
            <div>
              <button>договор аренды</button>
            </div>
          </div>
        </div>

        <div class="history">
          <div style="">
              <a href="http://localhost:3002/arendators#">
                <span class="psevdo_link">история добавлений</span>
              </a>

              <div>
                  <span class="data">23.10.10 &mdash;</span>
                  <a href="http://localhost:3002/arendators#">
                    <span class="psevdo_link_grey" style="font-size:11px;"><a href="#"><span class="number">№ 040733700049</span></a></span>
                  </a>
              </div>
          </div>
        </div>

    </header>

    <section class="filter">

  <div class="filter_caption">
    <span style="color: grey;">Отобразить договора</span>
    <nav>
        <a href="http://localhost:3002/arendators#"><span>действующие</span></a>
        <a href="http://localhost:3002/arendators#"><span>архив</span></a>
    </nav>
  </div>

        <div style="display: -webkit-box; -webkit-box-orient: vertical;">
            <div style="display: -webkit-box;">
                <div class="check_box">
                  <input type="checkbox"><div>закончился срок</div>
                </div>

                <div class="check_box">
                  <input type="checkbox"><div>без госрегистрации</div>
                </div>

                <div class="check_box">
                  <input type="checkbox"><div>продленные</div>
                </div>
            </div>


            <div style="display: -webkit-box; margin-top: 16px;">
                <div class="check_box">
                  <input type="checkbox"><div>ставка процента</div>
                </div>

                <div class="check_box">
                  <input type="checkbox"><div>площадь земельного участка</div>
                </div>

                <div class="check_box">
                  <input type="checkbox"><div>дата регистрации</div>
                </div>
            </div>

        </div>


    <div style="-webkit-box-flex: 1;"></div>

      <div class="btn-group" data-toggle="buttons-radio" style="-webkit-box-flex: 1;">
        <button type="button" class="btn_filter btn">на карте</button>
        <button type="button" class="btn_filter btn">списком</button>
        <button type="button" class="btn_filter btn">плиткой</button>
      </div>

    </section>

    <section class="dogovora">

        <ul style="margin-left: 32px; ">

          <% @dogovora.each do |dogovor| %>
            <li class="arendator">

                    <div class="dolg no">
                      <a href="#"><span>должник</span></a>
                    </div>

                    <div class="arendator_info">

                        <div style="display: -webkit-box;">
                            <div class="arendator_name">
                              <%= link_to "<span>#{dogovor.number}</span>".html_safe, :controller => 'finansist/dogovora', :action => 'show', :id => dogovor.id %>
                            </div>
                        </div>

                    </div><!-- arendator -->

                </li>
          <% end %>

        </ul>



    </section>

</section>
