<% m = 'dogovora' %>
<%= render :partial => "layouts/header", :locals => {:m => m} %>

<section class="dogovor_layout">

  <section class="dogovor_header">

  	<div class="caption">
  	  <h3>Договор аренды земли <%= @dogovor.number %></h3>
  	</div>

    <div class="edit">
      <button>Редактировать</button>
      <div class="edit_history">
          <span><a href="#">История редактирования</a></span>
          <div class="history">12.10 &mdash; добавлено <a>допсоглашение №3424</a></div>
      </div>
    </div>

  </section>

  <section class="dogovor_dates">
	<div>
		<span>Договор аренды истекает через <span style="font-weight:bold">3 месяца</span></span>
	</div>
    <div class="data">
    	<span class="item"><span style="color:grey;">Срок:</span> 10 лет</span>
    	<span class="item"><span style="color:grey;">Дата заключения:</span> 12.04.10</span>
    	<span class="item"><span style="color:grey;">Дата госрегистрации:</span> 16.04.10</span>
    </div>
  </section>

</section>
