

<section class="layout">

    <header>

        <div class="caption">
          <h3>Платежи</h3>
          <section class="xls">
            <img src="assets/xls.png" alt="xls" width="14px" height="14px">
            <%= link_to "<span>платежи</span>".html_safe, plategi_path(format: "xls") %>
            <span class="xls_info">(xls)</span>
          </section>
        </div>

        <div class="search" style="visibility: visible;">
            <input id="search" placeholder="Поиск платежа по номеру">
            <div class="info">
                <div class="example">
                  <span class="label_grey">Например:&nbsp;</span><a href="http://localhost:3002/arendators#"><span class="psevdo_link_grey" style="font-size:12px;">45364537</span></a>
                </div>
                <div>
                  <a href="http://localhost:3002/arendators#"><span class="psevdo_link">история поиска</span></a>
                </div>
            </div>
        </div>

        <div class="new">
          <div>
            <label>Добавить:</label>
          </div>
          <div class="box_v">
            <div>
              <button class="add">платеж</button>
            </div>
          </div>
        </div>

        <div class="history">
          <div style="">
              <a href="http://localhost:3002/arendators#">
                <span class="psevdo_link">история добавлений</span>
              </a>

              <div>
                  <span class="data">15.09.12 &mdash;</span>
                  <a href="http://localhost:3002/arendators#">
                    <span class="psevdo_link_grey"><a href="#"><span class="number">123,45 грн "Газмяс"</span></a></span>
                  </a>
              </div>
          </div>
        </div>

    </header>

    <section class="plategi_filter">

         <div style="color: #dddddd; padding-top: 2px; padding-right: 16px;">
             Платежи по
         </div>

         <div style="">

             <div class="filter_group" >
               <button class="btn_filter selected">аренде</button>
               <button class="btn_filter">земельному налогу</button>
             </div>

             <div class="filter_rahunok">
                 <select >
                     <option>Счет:</option>
                     <option>Код платежа:</option>
                 </select>

                 <a href="">2342323423476</a>
                 <a href="">2342323423476</a>
             </div>

         </div>


        <div style="">

            <div class="filter_group" >
              <button class="btn_filter selected">за год</button>
              <button class="btn_filter">за месяц</button>
            </div>

            <div class="filter_rahunok data">
                <a href="">2012</a>
                <a href="">2011</a>
            </div>

        </div>

         <div>
           <button class="btn_show">Показать</button>
         </div>

    </section>

    <section class="plategi_graph">

        <div class="canva">
            <canvas id="cvs" width="960px" height="250">[No canvas support]</canvas>
        </div>

    </section>


    <div style="padding-left: 40px;">
      <h1>Все платежи</h1>

      <table id="products" class="table" style="width: 50%;">
        <thead>
            <tr>
              <th>Сумма</th>
              <th>Код банка</th>
              <th>ЕДРПОУ плательщика</th>
            </tr>
        </thead>
        <tbody>
      <% @plategi.each do |plateg| %>
            <tr>
              <td><%= plateg.summa %></td>
              <td><%= plateg.bank %></td>
              <td><%= plateg.platnik %></td>
            </tr>
      <% end %>
        </tbody>
      </table>

    </div>

</section>
