%h1
  Календарь


-#<div id="b_myfiles">
-#
-#<div>
-#<!--h5>Добавленные файлы</h5-->
-#<div style="display: -webkit-box; -webkit-box-orient:horizontal;margin-top: 16px;">
-#<h4 style="font-size: 1.3em;">&larr; Сентябрь</h4>
-#<!--div style="margin-left: 16px;">2012</div-->
-#</div>
-#</div>
-#
-#<section class="b_hbox" style="padding: 5px; margin-top: 15px;">
-#
-#<div style="margin-right: 32px;">
-#<div style="font-size: 0.9; color: #dddddd">Пропущено</div>
-#<div style="font-size: 1.2em;">2 дня</div>
-#</div>
-#
-#<div style="margin-right: 32px;">
-#<div style="font-size: 0.9; color: #dddddd">Добавлено</div>
-#<div style="font-size: 1.2em;">
-#3 файла
-#</div>
-#</div>
-#
-#<div style="margin-right: 32px;">
-#<div style="font-size: 0.9; color: #dddddd">Осталось</div>
-#<div style="font-size: 1.2em;">10 дней</div>
-#</div>
-#
-#
-#
-#</section>
-#
-#
-#<div class="b_hbox" style="padding: 5px; margin-top: 14px;">
-#<div class="bbox"></div>
-#<div class="bbox"></div>
-#<div class="bbox pusto"></div>
-#<div class="bbox"></div>
-#<div class="bbox"></div>
-#<div class="bbox"></div>
-#<div class="bbox"></div>
-#
-#<div class="bbox"></div>
-#<div class="bbox"></div>
-#<div class="bbox pusto"></div>
-#<div class="bbox"></div>
-#<div class="bbox"></div>
-#<div class="bbox"></div>
-#<div class="bbox"></div>
-#
-#<div class="bbox"></div>
-#<div class="bbox"></div>
-#<div class="bbox pusto"></div>
-#<div class="bbox"></div>
-#<div class="bbox"></div>
-#<div class="bbox"></div>
-#<div class="bbox"></div>
-#
-#<div class="bbox"></div>
-#<div class="bbox"></div>
-#<div class="bbox pusto"></div>
-#<div class="bbox"></div>
-#<div class="bbox"></div>
-#<div class="bbox"></div>
-#<div class="bbox"></div>
-#
-#</div>
-#
-#<table class="table">
-#
-#<tbody>
-#<tr>
-#<td class="td_data">30</td>
-#<td>
-#<div>OFU-3009</div>
-#</td>
-#<td class="td_user"></td>
-#<td class="td_download"><a href="#"></a></td>
-#</tr>
-#<tr>
-#<td class="td_data">29</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Add</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">28</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">27</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#">Weekend</a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">26</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">25</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">24</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">23</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">22</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">21</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">20</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">19</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">18</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">17</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">16</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">15</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">14</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">13</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">12</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">11</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">10</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">9</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">8</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">7</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">6</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">5</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">4</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">3</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">2</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#<tr>
-#<td class="td_data">1</td>
-#<td>
-#</td>
-#<td class="td_user"><a href="#"></a></td>
-#<td class="td_download"><a href="#">Загрузить</a></td>
-#</tr>
-#
-#</tbody>
-#
-#</table>
-#
-#</div>
