%section.ofu-manager
  %header
    %img{:src=>"/assets/r28.png"}
    %h1
      Файлы выписок&nbsp;&nbsp;
      = today_count(@vpfile_count).html_safe
    %div.pusto1
    %div
      %a.btn{"data-toggle"=>"modal", :href=>"#myModal"}
        %i.icon-plus-sign
        %span#add
          Добавить
