<h1>Secretar dashboard</h1>

<section class="row" style="margin-left: 20px;">
  <div class="span7" style="margin-left: 0px;">

    <section>
      <h2>Выписки <span class="badge" style="position: relative; bottom: 3px; margin-left: 5px;">3</span></h2>

      <nav style="margin-top: 20px;">
      <ul class="nav nav-pills" style="margin-bottom: 3px;">
        <li class="active">
          <a href="#">Последние</a>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            За 2012 год<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">2011</a></li>
            <li><a href="#">2010</a></li>
            <li><a href="#">2009</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            За август<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Июль</a></li>
            <li><a href="#">Июнь</a></li>
            <li><a href="#">Май</a></li>
          </ul>
        </li>
      </ul>
      </nav>

      <vipiska>
        <table class="table">
          <thead>
            <tr style="color: #CCCCCC">
              <th>Название файла</th>
              <th>Дата добавления</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="#">OFU-3007</a></td>
              <td>30 июля</td>
            </tr>
            <tr>
              <td><a href="#">OFU-2907</a></td>
              <td>29 июля</td>
            </tr>
            <tr>
              <td><a href="#">OFU-2807</a></td>
              <td>28 июля</td>
            </tr>

          </tbody>
        </table>
      </vipiska>

    </section>

  </div>



  <div class="span3 offset1">

    <section style="margin-top: 9px;">
      <h3>
        Новая выписка
      </h3>
      <div style="width: 300px; height: 190px; background-color: #EEEEEE">

          <div class="" style="width:90%; position:relative; top: 10px; left:10px; height: 125px; background-color: #EEEEEE; border-style: dashed; border-color: #DDDDDD;">
            Перетащите файл сюда или
            <div class="" style="margin-top: 50px; margin-left: 50px;">
              <button>Выберите файл на компьютере</button>
            </div>
          </div>

          <div class="" style="margin-top: 20px; float:right; margin-right: 30px;">
            <button>Добавить</button>
          </div>

      </div>
    </section>

  </div>

</section>